:root {
  --stone: #FEFEFE;
  --light_purple: #4F3FB1;
  --dark_purple: #211B4B;
  --gray: #C2C2C2;
  --light_red: #B91228;
  --dark_red: #3A1414;
  --mid_red: #8C1811;
  --light_blue: #DAE5EF;
  --success_green: #B7F7C4;
  --error_red: #FFB7B6;
  --alert_yellow: #FBE7C6;
  --info_blue: #B3E6F5;
  --light_green: #38AF48;
  --dark_green: #268926;
  --dark_gray: #898686;
}

::selection{
  color: white;
  background-color: var(--light_red);
}

body {
  margin: 0;
  font-family: 'Poppins';
  background-color: var(--stone);
}

a {
  text-decoration: none;
  color: white;
}