.anApplication-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    width: 85%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: left;
    margin-bottom: 40px;
}

h2 #std-anapp-name {
    color: var(--light_red);
}

#info-openForm-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

#open-forms-container {
    display: grid;
    place-items: center;
    row-gap: 20px;
}

#open-forms-container #btn-open-letter {
    background-color: var(--light_green);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#open-forms-container #btn-open-form {
    background-color: var(--gray);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#open-forms-container #btn-open-letter:hover {
    background-color: var(--dark_green);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#open-forms-container #btn-open-form:hover {
    background-color: var(--dark_gray);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#approve-disapprove-container {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* 2 satır */

}