.announcements-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: left;
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f9f9f9;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: normal;
    color: #555;
}

td {
    background-color: #f0e6d8;
}

.actions {
    display: flex;
    gap: 35px;
}

.edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.delete-btn:hover {
    background-color: #c82333;
}