.reset-pass {
    display: flex;
    flex-direction: column;

}

.page_content h2 {
    text-align: center;
}

.send-link-btn {
    color: black;
    background-color: white;
    display: inline-block;
    border-radius: 30px;
    margin-top: 35px;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 15px;
    max-width: 200px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.send-link-btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--dark_red);
}

.reset-pass-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--dark_red);
    font-size: 15px;
    font-weight: normal;
    color: var(--dark_red);
}