.comp-requests-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    width: 85%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: left;
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f9f9f9;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: normal;
    color: var(--mid_red);
}

td {
    background-color: var(--light_blue);
}


.req-approve-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    margin-right: 8px;
}



.req-reject-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
}

.req-approve-btn:hover {
    background-color: #218838;
}

.req-reject-btn:hover {
    background-color: #c82333;
}


.pagination {
    margin-top: 20px;
}

.pagination button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.pagination button.active {
    font-weight: bold;
    text-decoration: underline;
}