.announcement-form-container {
    border: 1px solid #ccc;
    padding: 20px;
    padding-left: 100px;
    border-radius: 8px;
    width: 60%;
    margin-left: 14px;
    margin-right: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}


.form-group input[type="file"] {
    width: 80%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

.button-group {
    display: flex;
    justify-content: flex-start;
}

.publish-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.publish-btn:hover {
    background-color: #218838;
}

.cancel-btn:hover {
    background-color: #c82333;
}