.std-coordinator-announcements-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    width: 85%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f9f9f9;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    max-width: 800px;
    word-wrap: break-word;
    white-space: normal;
}

th {
    font-weight: normal;
    color: var(--mid_red);
}

td {
    background-color: var(--light_blue);
}

.sec-select-btn {
    border: black solid 0.1px;
    border-radius: 5px;
    width: 60%;
    height: 30px;
    padding-left: 5px;
    cursor: pointer;
}


.sec-save-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 5px;
}

.sec-save-btn:hover {
    background-color: #218838;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.pagination button.active {
    font-weight: bold;
    text-decoration: underline;
}